
  footer{
    background-color: #F5F5F5;
    width: 100%;
    overflow-x: hidden;
    margin-top: 2rem;
  }
  .footer_cards {
    justify-content: space-around;
    padding: 0 5rem;
  }
  footer .card{
    margin-right: 1rem;
    margin-top: 3rem;
    min-width: 18rem;

  }
  .no-gutters div img{
    width: 82%;
    margin-top: 2rem;
    margin-left: 1rem;
    padding-right: 1rem;
    border-right: 2px solid #dfdfdf;
  }
  .card-body form button {
      min-width: 40px;
  }
  .card-body p span {
      color: #E10001;
  }
  .card-title::after{
    display: block;
    content: "";
    width: 40%;
    color: #E10001;
    background-color: #E10001;
    height: 1px;
    margin-top: 4px;
  }
  .footerCol{
    flex: 0 0 25%;
    max-width: 21%;
    display: grid;
    grid-gap: 14px;
    margin-left: 3rem;
  }
  .footerCol b {
    font-weight: 500;
    font-size: 1.2rem;
}
  .footerLink{
      color: #000000;
  }
  .footerLink:hover{
      color: #E10001;
      text-decoration: none;
  }
  b i{
visibility: hidden;
 }
 footer .row:nth-child(2){
  margin-left: 3rem;

}
footer .row:nth-child(2) .footerCol{
margin-left: 3rem;
}

  .social{
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 1rem;
  }
  .socialLink{
    color: #000000;
    text-decoration: none;
    background-color: white;
    padding: 8px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 20%;
  }
  .socialLink:hover{
      color: white;
      background-color: #E10001;;
  }

  .searchBar {
    display:  flex;
    flex-wrap: nowrap;
}

.searchBar button{
    background-color: #E10001;
    border: 0px;
    border-radius:0px 10px 10px 0px;
    padding: 10px;
    color: white;
    font-size: 1rem;
    font-weight: 100;
    min-width: 85px;
}
.searchBar button:hover {
    background-color: #000000;
}
.searchBar input{
    padding: 9px;
    border: 1px solid #e6e6e6;
}
.navbar-toggler{
border: 0px;
}
@media(min-width:1023px){
  .footerSocial{
  margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
  }
}
@media (min-width:991px){
.btn{
  display: none;
}

}
@media(max-width:991px){
  .row{
    justify-content: center;
  }
  footer .card{
    margin-left: 8rem;
      margin-right: 8rem;
      min-width: 18rem;

  }
  .btn i{
    position: relative;
    bottom: 3px;
    left: 2px;
  }
  .footerCol b {
    cursor: pointer;
  }
 .footerCol b i{
visibility: visible;
  }
  footer .row:nth-child(2){
    margin-left: auto;
    margin-right: auto;
  }
  footer .row:nth-child(2) .footerCol{
  margin-left: auto;
  margin-right: auto;
  }
  .footerCol b{
    margin-right: auto;
    margin-left: auto;
  }
.footerSocial{
  margin-top: 2rem;
  margin-right: 93px;}

}
@media (max-width:576px){
  footer .card{
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    min-width: 18rem;
}
.no-gutters div img{
  width: 60%;
}
.footerCol{
  min-width: 60%;
  margin-top: 2rem;
  margin-left: 3rem;
}
.footerSocial{
  margin-left: 2rem;
  margin-top: 2rem;

}
.social{
  margin-left: -2rem;

}
}
